amqp==2.2.2
argcomplete==0.8.1
beautifulsoup4==4.4.1
billiard==3.5.0.3
bleach==2.0.0
Brlapi==0.6.4
celery==4.0.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
command-not-found==0.3
coverage==4.4.1
decorator==4.1.2
defer==1.0.6
defusedxml==0.5.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.1
django-allauth==0.33.0
django-autoslug==1.9.3
django-taggit==0.22.1
djangorestframework==3.6.3
dnspython==1.15.0
docopt==0.6.2
Flask==0.12.2
Flask-HTTPAuth==3.2.3
gitdb2==2.0.3
GitPython==2.1.5
giturl.py==0.2.1
google-api-python-client==1.6.3
gunicorn==19.7.1
html5lib==0.999999999
httpauth==0.3
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Markdown==2.6.8
MarkupSafe==1.0
oauth2client==4.1.2
oauthlib==2.0.4
olefile==0.44
onboard==1.2.0
passlib==1.7.1
pexpect==4.0.1
Pillow==4.2.1
pipreqs==0.4.9
progressbar==2.3
psycopg2==2.7.1
ptyprocess==0.5
py==1.4.34
pyasn1==0.3.3
pyasn1-modules==0.1.1
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyJWT==1.5.3
PySocks==1.6.7
pytest==3.2.2
pytest-django==3.1.2
python-apt===1.1.0.b1-elementary2-ubuntu16.04.1
python-decouple==3.1
python-gnupg==0.3.8
python-systemd==231
python3-openid==3.1.0
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
redis==2.10.5
render==1.0.0
reportlab==3.3.0
requests==2.9.1
requests-oauthlib==0.8.0
rsa==3.4.2
sessioninstaller==0.0.0
setupfiles==0.0.50
six==1.10.0
smmap2==2.0.3
SQLAlchemy==1.1.13
static3==0.7.0
system-service==0.3
twilio==6.8.3
ubuntu-drivers-common==0.0.0
Ubuntu-Make==16.2.1
ufw==0.35
unattended-upgrades==0.1
Unipath==1.1
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
webencodings==0.5.1
Werkzeug==0.15.3
whitenoise==3.3.0
xkit==0.0.0
yarg==0.1.9
