{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block body %}
<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0"
          class="active"></li>
      <li data-target="#main-slider" data-slide-to="1"></li>
      <li data-target="#main-slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"
           style="background-image: url('../../../static/img/slides/2.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="carousel-content centered">
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->
      <div class="item"
           style="background-image:  url('../../../static/img/slides/1.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="carousel-content center centered">
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->
      <div class="item"
           style="background-image: url('../../../static/img/slides/3.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="carousel-content centered">
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->
    </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
    <i class="icon-angle-left"></i>
  </a>
  <a class="next hidden-xs" href="#main-slider" data-slide="next">
    <i class="icon-angle-right"></i>
  </a>
</section><!--/#main-slider-->
<!--<section id="main-slider" class="no-margin">-->
<!--<div class="item active" style="background-image: url(img/slides/1.jpg);background-size: cover;height: 60vh;">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-4"></div>-->
<!--<div class="col-sm-4"></div>-->
<!--<div class="col-sm-4">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<section id="welcome">
  <div class="container">
    <div class="row">
      <h3>Welcome </h3>
      <br>
      <h4>
        A Unique place for fine Dining with calm and peace
        naturally.
        Architectured and beautifully designed with modern are and
        comforts
        with its ambience and all kinds of amenities.<br>Make those
        moments your memories to cherish. </h4>
      <br><br>
    </div>
  </div>
</section>

<section id="menu">
  <div class="container">
    <div class="row">
      <h3>Our Menu</h3>
      <br>
      <div class="col-sm-1"></div>
      {% for item in menu_items %}
      <div class="col-sm-2">
        <div class=" menu-item">
          <a href="{% url 'menu:sub_menu' item.id %}">
            <img src="{{ item.category_image.url }}" height="100px"
                 width="100px"></a><br>
          {{ item.category_name }}
        </div>
      </div>
      {% endfor %}
      <div class="col-sm-1"></div>
      <br>
      <div class="float-right"><a href="{% url 'menu:menu' %}"
                                  style="color: #3c763d">SEE MORE</a></div>
    </div>
  </div>
</section>

<section id="events">
  <div class="container">
    <div class="row">
      <h3>Our Events</h3>
      <br>
      <div class="blog-card alt">
        <div class="photo photo2"></div>
        <div class="description">
          <h1>Enjoy Christmas !</h1>
          <p class="summary">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. or sit amet,
            consectetur adipisicing elit. Ad e
            or sit amet. Ad e Ad eum
            dolorum architecto obcaecati enim dicta
            praeseVeritatis, sit.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}