{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load staticfiles %}
{% block body %}
<section id="image-back" class="no-margin"
         xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
  <div class="row" style="margin: auto;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <img src="{% static 'img/back1.jpg' %}"/>
    </div>
    <div class="col-md-1"></div>
  </div>


</section>

<section id="order">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="ver-nav">
          <h3>CATEGORY</h3>
          <hr>
          <div class="categ">
            <ul class="nav nav-pills nav-stacked" style="margin-top: -20px;">
              {% for menu in all_menu %}
              <li><a data-toggle="pill"
                     href="#{{ menu.id }}"
                     style="text-transform: capitalize">
                {{ menu.category_name }}
              </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-7">

        <h2>OUR MENU</h2>
        <p>We present you our range of hot and sizzling dishes by our
          chefs.</p>
        <div class="order-menu-card">
          <div class="tab-content">
            {% for menu in all_menu %}
            <div id="{{ menu.id }}"
                 class="tab-pane fade in {% if menu.id == 1 %}active{% else %} {% endif %}">
              <div class="table-flexible">
                <table class="table borderless">
                  <tbody>
                  <tr>
                    <td colspan="3" class="text-center">
                      <span class="secTitle"
                            style="text-transform: capitalize">{{ menu.category_name }} <hr></span>
                    </td>
                  </tr>
                  {% for submenu in all_sub_menu %}
                  {% if submenu.menu == menu %}
                  <tr>
                    <td>
                      <span class="dishName"
                            style="text-transform: capitalize">{{ submenu.dish_name }}</span>
                    </td>
                    <td class="price">&#8377;{{ submenu.price }}</td>
                    <td><a href="{% url 'order:add_detail' 1 %}"
                           style="color: #3c763d"><i
                        class="fa fa-plus" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="myOrder">
          <h3>MY ORDER</h3>
          <hr>
          <div class="row">
            <div class="cart">
              <h5>1 &times; Paneer Tandoori &emsp13;&emsp13;&emsp13;&emsp13;&#8377;150 </h5>
              <h5>1 &times; Paneer Tandoori &emsp13;&emsp13;&emsp13;&emsp13;&#8377;150 </h5>
              <h5>1 &times; Paneer Tandoori &emsp13;&emsp13;&emsp13;&emsp13;&#8377;150 </h5>
            </div>
            <div class="total">
              <hr style="margin: 0 30px;">
              <h4>Sub Total:</h4>
            </div>

            <button type="button" class="btn  btn-lg"
                    style="margin: 10px 40px; padding: 7px 40px;">
              CONTINUE
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
     <h5 style="text-align: center;letter-spacing: 1px;">*Terms & Conditions : We provide Home delivery within 3kms.</h5>
{% endblock %}