/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/
body {
    background: #ffffff;
}

.section {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #FFFFFF;
}

.section .row {
    margin-left: 10%;
    margin-right: 10%;
}

.section h2 {
    text-align: center;
    font-size: 32px;
    color: #15c26b;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 20px;
}

@media (max-width: 380px) {

    .section h2 {
        text-align: center;
        font-size: 22px;
        color: #15c26b;
        letter-spacing: 1px;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 5px;
    }

    #welcome h4 {
        padding: 0 20px;
        line-height: 15px;
        color: #2e3d49;
        font-size: 14px;
    }

    .blog-card .description h3 {
    line-height: 1.2em;
    margin: 0 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #02ccba;
    font-size: 18px;
    text-transform: uppercase;
}
}

.input-micro {
    width: 50px;
    margin-bottom: 0 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(79, 141, 179, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 141, 179, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 141, 179, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 141, 179, 0.6);
}

ul.no-list-style {
    list-style-type: none;
    margin-left: 0;
}

ul.no-list-style li {
    line-height: 28px;
}

div[class*="span"] {
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2e3d49;
}

h1 {
    color: #2e3d49;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h2 {
    color: #2e3d49;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    margin: 30px 0 0 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #525c65;
    font-size: 1.5em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: #525c65;
    margin-bottom: 10px;
}

a {
    color: #fafbfc;
    outline: 0;
}

a:hover {
    color: #fafbfc;
    text-decoration: none;
    outline: 0;
}

/*--------------------------------------------------------------------------
+	Custom Style for Tabs (overrides Bootstrap)
--------------------------------------------------------------------------*/
.nav-tabs > li > a {
    font-size: 1.1em;
    padding: 10px 15px;
    color: #535b60;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    font-weight: 600;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-top: 3px solid #4f8db3;
    border-bottom-color: transparent;
    cursor: default;
}

/*--------------------------------------------------------------------------
+	Buttons Style
--------------------------------------------------------------------------*/
.btn {
    border: 1px solid #1c262f;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    text-align: center;
    background: none repeat scroll 0 0 #02b3e4;
    text-shadow: none;
    border: .125rem solid transparent;
    color: #fafbfc;
    white-space: nowrap;
}

.btn:hover {
    background: none repeat scroll 0 0 #3b3c41;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #3b3c41;
    outline: 0;
}

.btn-green {
    border: 1px solid #15c26b;
    color: #FFF;
    background: none repeat scroll 0 0 #15c26b;
}

.btn-green:hover {
    background: none repeat scroll 0 0 #007a4b;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #3b3c41;
}

/******************************************************
    Welcome
 ******************************************************/

#welcome {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background: linear-gradient(#007a4b, #15c26b);
}

#welcome .row {
    background-color: #FFFFFF;
    margin: 6%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #b8b8b8;
}

#welcome h4 {
    padding: 0 40px 0px 40px;
    line-height: 25px;
    color: #2e3d49;
}

/***************************************************
Menu home
 **************************************************/

#menu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #fafbfc;
}

#menu .row {
    margin: 1%;
    text-align: center;
}

.menu-item {
    border: 1px solid #4cae4c;
    height: 128px;
    width: 128px;
    padding: 12px;
    background-color: #eeeeee;
    margin: 30px 0px 70px 0px;
}

.menu-item img{
    height:100px;
    width:100px;
}
.menu-item:hover {

    box-shadow: 0 2px 10px 0 #aaaaaa;
}

/***************************************************
Events
 **************************************************/
#events {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background: linear-gradient(#007a4b, #15c26b);

}

#events .row {
    background-color: #FFFFFF;
    margin: 6%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #b8b8b8;
}

.blog-card {
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    background-color: rgba(170, 170, 170, 0.39);
    border-radius: 3px;
    box-shadow: 1px 4px 7px 2px rgba(132, 132, 132, 0.3);
    margin: 0 auto 1.6%;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
}

.blog-card:hover .details {
    left: 0;
}

.blog-card:hover.alt .details {
    right: 0;
}

.blog-card.alt .details {
    right: -100%;
    left: inherit;
}

.blog-card .photo {
    height: 200px;
    position: relative;
}

.blog-card .photo.photo1 {
    background: url("../../media/events-2.jpg") center no-repeat;
    background-size: cover;
}

.blog-card .photo.photo2 {
    background: url("../../media/events.jpg") center no-repeat;
    background-size: cover;
}

.blog-card .details {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fafbfc;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    height: 180px;
    /*POSITION*/
    position: absolute;
    top: 0;
    left: -100%;
}

.blog-card .description {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.blog-card .description h3 {
    line-height: 1.6em;
    margin: 0 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #02ccba;
    font-size: 24px;
    text-transform: uppercase;
}

.blog-card .description p {
    text-align: center;
    font-size: 14px;;
    position: relative;
    margin: 0;
    padding-top: 10px;
}

@media screen and (min-width: 600px) {
    .blog-card {
        height: 180px;
        max-width: 700px;
    }

    .blog-card:hover .photo {
        -webkit-transform: rotate(1deg) scale(1.3);
        transform: rotate(1deg) scale(1.3);
    }

    .blog-card:hover.alt .photo {
        -webkit-transform: rotate(-1deg) scale(1.3);
        transform: rotate(-1deg) scale(1.3);
    }

    .blog-card.alt .details {
        padding-left: 30px;
    }

    .blog-card.alt .description {
        float: right;
    }

    .blog-card.alt .description:before {
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
        right: -15px;
        left: inherit;
    }

    .blog-card.alt .photo {
        float: right;
    }

    .blog-card .photo {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        float: left;
        height: 100%;
        width: 40%;
    }

    .blog-card .details {
        width: 40%;
    }

    .blog-card .description {
        float: left;
        width: 60%;
        z-index: 0;
    }

    .blog-card .description:before {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        content: "";
        background: #fafbfc;
        width: 100%;
        z-index: -1;
        /*POSITION*/
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
    }
}

/***************************************************
About us
 **************************************************/

#about p {
    line-height: 25px;
    font-size: 17px;
    text-align: center;
}

/***************************************************
Contact us
 **************************************************/

.contact-group {
    max-width: 400px;
    margin-top: 30px;
    padding: 40px;
    box-sizing: border-box;
    background: #fafbfc;
    box-shadow: 1px 1px 3px 3px #b9b9b9;
    position: relative;
}

.contact-group .welcome h3 {
    text-align: center;
    font-size: 24px;
    color: #15c26b;
    margin-top: -20px;

}

/***************************************************
Image background
 **************************************************/

#image-back img {
    height: 35vh;
    width: 100%;
    background-color: #2e3d49;
    opacity: 0.7;
}

/**************************************************
Reservation
***************************************************/
.relative {
    position: relative;
}

.login-container-wrapper .logo {
    color: #fafbfc;
}

.login-container-wrapper .welcome {
    margin: -5px 0 20px 0;
    font-size: 20px;
    color: #2e3d49;
    text-align: center;
}

.login-container-wrapper label a {
    background: transparent;
    color: #02ccba;
}

.login-container-wrapper label a:hover {
    background: transparent;
    color: #2e3d49;
}

.login-container-wrapper .logo h4 {
    text-align: center;
    color: #fafbfc;
    font-size: 24px;
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    left: 0;
    background-color: #15c26b;
    padding: 10px;
    box-shadow: 0px 0px 1px 1px #919191;
}

.login-container-wrapper {
    max-width: 400px;
    margin: 20% auto 8%;
    padding: 30px;
    box-sizing: border-box;
    background: #fafbfc;
    box-shadow: 1px 1px 3px 3px #919191;
    position: relative;
    padding-top: 80px;
}

.login input:focus + .fa {
    color: #ffffff;
}

.login-form .form-group {
    margin-right: 0;
    margin-left: 0;
}

.login-form i {
    position: absolute;
    top: 18px;
    right: 20px;
    color: #93a5ab;
}

.login-form .input {
    font-size: 16px;
    height: 42px;
    /*padding: 10px 25px;*/
    border-radius: 0;
}

.login input[type="email"],
.login input[type="password"],
.login input:focus {
    background-color: rgba(40, 52, 67, 0.75);
    border: 1px solid #4a525f;
    color: #eee;
    border-left: 4px solid #93a5ab;
}

.login input:focus {
    border-left: 4px solid #ccd8da;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(40, 52, 67, 0.75) !important;
    background-image: none;
    color: rgb(0, 0, 0);
    border-color: #FAFFBD;
}

.login .checkbox label,
.login .checkbox a {
    color: #ddd;
}

.quotation {
    font-size: 42px;
    font-family: 'Great Vibes', cursive;
    margin: 20% auto 8%;
    quotes: "\201C" "\201D" "\2018" "\2019";
    padding: 10px 20px;
    line-height: 1.4;
    color: #2e3d49;
}

.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #2e3d49;
    font-size: 2em;
}

.quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #2e3d49;
    font-size: 2em;
}

#sub-menu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    margin-top: 90px;
    position: relative;
}

#sub-menu .row .col-md-3 {
    padding-left: 0;
}

.secTitle {
    font-family: 'Vollkorn SC', serif;
    font-size: 2.6em;
    font-weight: 200;
    color: #fafbfc;

}

.dishName {
    color: #15c26b;
    font-family: 'Vollkorn SC', serif;
    font-weight: 200;
    font-size: 20px;


}

.price {
    text-align: right;
    color: #15c26b;
}

.sub-menu-card {
    margin: 30px 20px;
    padding:20px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(238, 238, 238, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(238, 238, 238, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(238, 238, 238, 0.75);
}

.sub-menu-card .table td {
    border-top: 0px solid #eeeeee;
}

#sub-menu .container {
    min-height: 100vh;
}

.nav-pills li a:hover, a:focus{
    background-color: #ac2925;
    color: #fafbfc;
}

.nav-pills li.active a:hover, a:focus{
   background-color: #ac2925;
    color: #fafbfc;
}

.nav-pills li a{
    background-color: #2e3d49;
    color: #fafbfc;
}

#main-menu h2 {
    margin-bottom: 30px;
}

#main-menu .row {
    margin-left: 5%;
    margin-right: 5%;
}

#order {
    margin-bottom: 50px;
    text-align: center;
}

#order .row {
    margin: 0 4%;
}

#order h2 {
    margin-top: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #15c26b;
}

#order h3 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #15c26b;
}

.ver-nav {
    border-right: 1px solid #aaaaaa;
    min-height: 100vh;
}

.ver-nav h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #2e3d49;
    text-align: start;
}

#order .myOrder {
    border-left: 1px solid #aaaaaa;
    min-height: 100vh;
}

.order-menu-card {
    margin: 40px 30px;
    padding: 30px;
    border: 1px solid #aaaaaa;
    background-color: rgba(250, 251, 252, 0.07);
    box-shadow: 0 2px 10px 0px #aaaaaa;
}

.order-menu-card .table td {
    border: none;
}

.order-menu-card .secTitle {
    font-family: 'Vollkorn SC', serif;
    font-size: 2em;
    font-weight: 200;
    color: #2e3d49;

}

.order-menu-card .dishName {
    color: #339432;
    font-family: 'Vollkorn SC', serif;
    font-weight: 100;
    font-size: 19px;


}

.order-menu-card .price {
    text-align: right;
    color: #339432;
    font-weight: 600;
}

.order-menu-card .add {
    text-align: right;
    color: #f9f2f4;
}

#order .btn {
    background-color: #2e3d49;
}

#order .btn:hover {
    background-color: #ac2925;
}

.cart {
    min-height: 35vh;
}

#order hr {
    border: 0.5px solid #aaaaaa;
}

.order-type {
    min-height: 100vh;
}

/***************************************************
Events
 **************************************************/
#events-page {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

}

#events-page .row {
    margin: 0 10% 0% 10%;
    text-align: center;
}

#events-page h2 {
    text-align: center;
    font-size: 32px;
    color: #15c26b;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 20px;
}

/******************************************
Menu
 ******************************************/

figure.snip0056 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 240px;
    width: 100%;
    background: #fafbfc;
    box-shadow: 0 0 5px 0 #aaaaaa;
    color: #000000;
}

figure.snip0056 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0056 > img {
    width: 50%;
    border-radius: 50%;
    border: 4px solid #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    position: relative;
    float: right;
    right: -15%;
    z-index: 1;
}

figure.snip0056 figcaption {
    padding: 30px 30px 20px 20px;
    position: absolute;
    left: 0;
    width: 50%;
}

figure.snip0056 figcaption h2 {
    margin: 0;
    text-align: left;
    padding: 0;
    width: 100%;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

figure.snip0056 figcaption a {
    opacity: 0.3;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip0056 figcaption a:hover {
    opacity: 0.8;
}

figure.snip0056 .position {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    opacity: 1;
    color: #ffffff;
    background: #3d943b;
    clear: both;
}

figure.snip0056:hover > img,
figure.snip0056.hover > img {
    right: -12%;
}

/***********************************
Main Slider
 ***********************************/
.main-slider .container-fluid {
    padding: 30px 0 0 0;
}