/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/
body {
    background: #ffffff;
}

.section {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #FFFFFF;
}

.section .row {
    margin-left: 10%;
    margin-right: 10%;
}

.section h2 {
    text-align: center;
    font-size: 32px;
    color: #15c26b;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 20px;
}

.input-micro {
    width: 50px;
    margin-bottom: 0 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(79, 141, 179, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 141, 179, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 141, 179, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 141, 179, 0.6);
}

ul.no-list-style {
    list-style-type: none;
    margin-left: 0;
}

ul.no-list-style li {
    line-height: 28px;
}

div[class*="span"] {
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2e3d49;
}

h1 {
    color: #2e3d49;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h2 {
    color: #2e3d49;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    margin: 30px 0 0 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #525c65;
    font-size: 1.5em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: #525c65;
    margin-bottom: 10px;
}

a {
    color: #fafbfc;
    outline: 0;
}

a:hover {
    color: #fafbfc;
    text-decoration: none;
    outline: 0;
}

/*--------------------------------------------------------------------------
	Footer Style
--------------------------------------------------------------------------*/
.footer {
    background: #1c262f;
    color: #d2d2d2;
    padding: 0 20px 10px 20px;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
}

.footer h3 {
    color: #E4E4E4;
    font-size: 1.3em;
    border-bottom: 1px dotted #525c65;
}

.footer ul {
    padding: 0;
}

.footer-navigate-section li {
    line-height: 20px !important;
}

.footer-copyright {
    text-align: center;
    color: #cbcbcb;
    border-top: 1px dotted #525c65;
    padding-top: 10px;
    font-size: 0.9em;
}

.block h2 {
    color: #FFFFFF;
}

.address-block li {
    margin-bottom: 20px;
}

.address-block li i {
    margin-right: 15px;
    font-size: 20px;
    width: 20px;
}

.social-icons {
    margin-top: 40px;
}

.social-icons li {
    display: inline-block;
    margin: 0 6px;
}

.social-icons a {
    display: inline-block;
}

.social-icons i {
    color: #FFFFFF;
    margin-right: 25px;
    font-size: 25px;
}

/*--------------------------------------------------------------------------
+	Custom Style for Tabs (overrides Bootstrap)
--------------------------------------------------------------------------*/
.nav-tabs > li > a {
    font-size: 1.1em;
    padding: 10px 15px;
    color: #535b60;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    font-weight: 600;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-top: 3px solid #4f8db3;
    border-bottom-color: transparent;
    cursor: default;
}

/*--------------------------------------------------------------------------
+	Buttons Style
--------------------------------------------------------------------------*/
.btn {
    border: 1px solid #1c262f;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    text-align: center;
    background: none repeat scroll 0 0 #02b3e4;
    text-shadow: none;
    border: .125rem solid transparent;
    color: #fafbfc;
    white-space: nowrap;
}

.btn:hover {
    background: none repeat scroll 0 0 #3b3c41;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #3b3c41;
    outline: 0;
}

.btn .caret {
    border-top: 4px solid #FFF;
}

.btn-micro {
    padding: 1px 8px;
    font-size: 10px;
}

.btn-grey {
    border: 1px solid #cecece;
    color: #333;
    background: none repeat scroll 0 0 #E7E7E7;
}

.btn-grey:hover {
    background: none repeat scroll 0 0 #cecece;
    color: #333;
    text-decoration: none;
    border: 1px solid #cecece;
}

.btn-grey .caret {
    border-top: 4px solid #333;
}

.btn-blue {
    border: 1px solid #3e7191;
    color: #FFF;
    background: none repeat scroll 0 0 #4F8DB3;
}

.btn-blue:hover {
    background: none repeat scroll 0 0 #3b3c41;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #3b3c41;
}

.btn-orange {
    border: 1px solid #cc5a00;
    color: #FFF;
    background: none repeat scroll 0 0 #FF7000;
}

.btn-orange:hover {
    background: none repeat scroll 0 0 #d45d00;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #d45d00;
}

.btn-green {
    border: 1px solid #15c26b;
    color: #FFF;
    background: none repeat scroll 0 0 #15c26b;
}

.btn-green:hover {
    background: none repeat scroll 0 0 #007a4b;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #3b3c41;
}

.btn-red {
    border: 1px solid #ab0d0d;
    color: #FFF;
    background: none repeat scroll 0 0 #DA1111;
}

.btn-red:hover {
    background: none repeat scroll 0 0 #3b3c41;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #3b3c41;
}

.btn-group.open .btn.dropdown-toggle {
    background: none repeat scroll 0 0 #3b3c41;
    color: #FFF;
}

.dropdown.open a.dropdown-toggle .caret {
    border-top: 4px solid #FFF;
}

/******************************************************
    Welcome
 ******************************************************/

#welcome {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background: linear-gradient(#007a4b, #15c26b);
}

#welcome .row {
    background-color: #FFFFFF;
    margin: 6%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #b8b8b8;
}

#welcome h2 {
    text-align: center;
    font-size: 32px;
    color: #15c26b;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 20px;
}

#welcome h4 {
    padding: 0 40px 0px 40px;
    line-height: 25px;
    color: #2e3d49;
}

/***************************************************
Menu home
 **************************************************/

#menu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

#menu .row {
    background-color: #ffffff;
    margin: 1%;
    text-align: center;
}

#menu h2 {
    text-align: center;
    font-size: 32px;
    color: #15c26b;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 30px;

}

.menu-item {
    border: 2px solid #525c65;
    border-radius: 50%;
    height: 128px;
    width: 128px;
    padding: 30px;
    margin: 30px 0px 70px 0px;
}

.menu-item:hover {
    border: 2px solid #393939;
    background-color: #eeeeee;
}

/***************************************************
Events
 **************************************************/
#events {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background: linear-gradient(#007a4b, #15c26b);
}

#events .row {
    background-color: #FFFFFF;
    margin: 6%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #b8b8b8;
}

#events h2 {
    text-align: center;
    font-size: 32px;
    color: #15c26b;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 20px;
}

.blog-card {
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 4px 7px 2px rgba(132, 132, 132, 0.3);
    margin: 0 auto 1.6%;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
}

.blog-card:hover .details {
    left: 0;
}

.blog-card:hover.alt .details {
    right: 0;
}

.blog-card.alt .details {
    right: -100%;
    left: inherit;
}

.blog-card .photo {
    height: 200px;
    position: relative;
}

.blog-card .photo.photo1 {
    background: url("../../media/events-2.jpg") center no-repeat;
    background-size: cover;
}

.blog-card .photo.photo2 {
    background: url("../../media/events.jpg") center no-repeat;
    background-size: cover;
}

.blog-card .details {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    height: 180px;
    /*POSITION*/
    position: absolute;
    top: 0;
    left: -100%;
}

.blog-card .description {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.blog-card .description h3 {
    line-height: 1em;
    margin: 0 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #02ccba;
    font-size: 24px;
    text-transform: uppercase;
}

.blog-card .description p {
    position: relative;
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
}

@media screen and (min-width: 600px) {
    .blog-card {
        height: 180px;
        max-width: 800px;
    }

    /*.blog-card:hover .photo {*/
    /*-webkit-transform: rotate(5deg) scale(1.3);*/
    /*transform: rotate(5deg) scale(1.3);*/
    /*}*/
    /*.blog-card:hover.alt .photo {*/
    /*-webkit-transform: rotate(-5deg) scale(1.3);*/
    /*transform: rotate(-5deg) scale(1.3);*/
    /*}*/
    .blog-card.alt .details {
        padding-left: 30px;
    }

    .blog-card.alt .description {
        float: right;
    }

    .blog-card.alt .description:before {
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
        right: -15px;
        left: inherit;
    }

    .blog-card.alt .photo {
        float: right;
    }

    .blog-card .photo {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        float: left;
        height: 100%;
        width: 40%;
    }

    .blog-card .details {
        width: 40%;
    }

    .blog-card .description {
        float: left;
        width: 60%;
        z-index: 0;
    }

    .blog-card .description:before {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        content: "";
        background: #fff;
        width: 100%;
        z-index: -1;
        /*POSITION*/
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
    }
}

/***************************************************
About us
 **************************************************/

#about p {
    line-height: 25px;
    font-size: 17px;
    text-align: center;
}

/***************************************************
Contact us
 **************************************************/

.contact-group {
    max-width: 400px;
    margin-top: 30px;
    padding: 40px;
    box-sizing: border-box;
    background: #fafbfc;
    box-shadow: 1px 1px 3px 3px #b9b9b9;
    position: relative;
}

.contact-group .welcome h3 {
    text-align: center;
    font-size: 24px;
    color: #15c26b;
    margin-top: -20px;

}



/***************************************************
Image background
 **************************************************/

#image-back img {
    height: 35vh;
    width: 100%;
    background-color: #2e3d49;
    opacity: 0.7;
}

/**************************************************
Reservation
***************************************************/
.relative {
    position: relative;
}

.login-container-wrapper .logo {
    color: #fafbfc;
}

.login-container-wrapper .welcome {
    margin: -5px 0 20px 0;
    font-size: 20px;
    color: #2e3d49;
    text-align: center;
}

.login-container-wrapper label a {
    background: transparent;
    color: #02ccba;
}

.login-container-wrapper label a:hover {
    background: transparent;
    color: #2e3d49;
}

.login-container-wrapper .logo h4 {
    text-align: center;
    color: #fafbfc;
    font-size: 24px;
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    left: 0;
    background-color: #15c26b;
    padding: 10px;
    box-shadow: 0px 0px 1px 1px #919191;
}

.login-container-wrapper {
    max-width: 400px;
    margin: 20% auto 8%;
    padding: 30px;
    box-sizing: border-box;
    background: #fafbfc;
    box-shadow: 1px 1px 3px 3px #919191;
    position: relative;
    padding-top: 80px;
}

.login input:focus + .fa {
    color: #ffffff;
}

.login-form .form-group {
    margin-right: 0;
    margin-left: 0;
}

.login-form i {
    position: absolute;
    top: 18px;
    right: 20px;
    color: #93a5ab;
}

.login-form .input {
    font-size: 16px;
    height: 42px;
    /*padding: 10px 25px;*/
    border-radius: 0;
}

.login input[type="email"],
.login input[type="password"],
.login input:focus {
    background-color: rgba(40, 52, 67, 0.75);
    border: 1px solid #4a525f;
    color: #eee;
    border-left: 4px solid #93a5ab;
}

.login input:focus {
    border-left: 4px solid #ccd8da;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(40, 52, 67, 0.75) !important;
    background-image: none;
    color: rgb(0, 0, 0);
    border-color: #FAFFBD;
}

.login .checkbox label,
.login .checkbox a {
    color: #ddd;
}

.quotation {
    font-size: 42px;
    font-family: 'Great Vibes', cursive;
    margin: 20% auto 8%;
    quotes: "\201C" "\201D" "\2018" "\2019";
    padding: 10px 20px;
    line-height: 1.4;
    color: #2e3d49;
}

.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #2e3d49;
    font-size: 2em;
}

.quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #2e3d49;
    font-size: 2em;
}

#sub-menu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    margin-top: 90px;
    position: relative;
}

#sub-menu .row .col-md-3 {
    padding-left: 0;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #eceff1;
    position: absolute;
    min-height: 100vh;
    overflow: auto;
}

.menu-bar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu-bar li a.active {
    background-color: #15c26b;
    color: white;
}

.menu-bar li a:hover:not(.active) {
    background-color: #92989b;
    color: white;
}

.secTitle {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: 500;
    color: #fafbfc;
    letter-spacing: 1px;
}

.dishName {
    color: #15c26b;
    font-family: 'Great Vibes', cursive;
    font-weight: 200;
    font-size: 26px;
    letter-spacing: 1px;

}

.price {
    text-align: left;
    color: #15c26b;
}

.sub-menu-card {
    margin: 50px 20px;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(238, 238, 238, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(238, 238, 238, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(238, 238, 238, 0.75);
}

.sub-menu-card .table td {
    border-top: 0px solid #eeeeee;
}

#sub-menu .container {
    min-height: 100vh;
}

.thumb {
    margin: 50px 20px;

}

.thumb-item {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(238, 238, 238, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(238, 238, 238, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(238, 238, 238, 0.75);
    border: 1px solid rgba(238, 238, 238, 0.75);
    height: 40px;
    margin: 10px;

}

.thumb-item.even h3 {
    text-align: left;
    margin: 7px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fafbfc;
    font-size: 18px;
}

.thumb-item.odd h3 {
    text-align: left;
    margin: 7px;
    font-family: 'Open Sans', sans-serif;
    color: #15c26b;
    text-transform: uppercase;
    font-size: 18px;
}

.thumb-item.even {
    background: linear-gradient(#007a4b, #15c26b);

}

.thumb-item.odd {
    background: linear-gradient(#eeeeee, #fafbfc);

}

figure.snip1206 {
    font-family: "Raleway", Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 160px;
    max-width: 230px;
    max-height: 160px;
    width: 100%;
    color: #000000;
    text-align: center;
}

figure.snip1206 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

figure.snip1206 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip1206:after {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    opacity: 0.75;
    -webkit-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure.snip1206 figcaption {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

figure.snip1206 h2 {
    font-size: 28px;
    margin: 0;
    width: 100%;
    opacity: 0;
    padding: 0 30px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;

}

figure.snip1206 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip1206:after {
    -webkit-transform: skew(-45deg) scaleX(1);
    transform: skew(-45deg) scaleX(1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

figure.snip1206 figcaption h2 {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2 {
    opacity: 1;
}

#main-menu h2 {
    margin-bottom: 30px;
}

#main-menu .row {
    margin-left: 5%;
    margin-right: 5%;
}
