{% load staticfiles %}
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Custom CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link
      href="https://fonts.googleapis.com/css?family=Dosis|Vollkorn+SC|Spectral+SC|Supermercado+One"
      rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//use.edgefonts.net/bebas-neue.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <script
            src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

<body>

<header class="navbar navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home:index' %}">GREEN APPLE</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{% url 'home:index' %}">Home</a></li>
                <li><a href="{% url 'menu:menu' %}">Menu</a></li>
                <li><a href="{% url 'order:order' %}">Order</a></li>
                <li><a href="{% url 'book_a_table:book' %}">Book-A-Table</a></li>
                <li><a href="{% url 'events:events' %}">Events</a></li>
                <li><a href="{% url 'about_us:about' %}">About Us</a></li>
                <li><a href="{% url 'drop_a_note:drop_note' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</header>

<br>

{% block body %}
{% endblock %}

<br>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="block">
                    <h2>About Us</h2><br>
                    <ul class="address-block">
                        <li> A unique place for Fine Dining with calm and peace
                            naturally. Architectured and beautifully
                            designed with modern are and comforts with its ambience
                            and all kinds of amenities.
                        </li>
                        <li>
                            Beautiful surroundings of outside the restaurant can be
                            seen clear through.One can really enjoy
                            the food palate with beautiful panorama.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="block">
                    <h2>Stop By For A visit</h2><br>
                    <ul class="address-block">
                        <li>
                            <i class="fa fa-map-marker"></i>1st Floor Near Gandhinagar Nagrik Bank GH-4II, Sector-16, Gandhinagar
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>greenapplerestaurant123@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>079-23223440,&nbsp;+919662663440
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2017 <a
                        href="http://www.github.com/Akriti3011/Electrolocus">Green Apple Restaurant </a></div>
            </div>
        </div>
    </div>
</div>

<!-- Javascripts -->
<script
        src="{% static 'js/jquery.min.js' %}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/scrolling-nav.js' %}"></script>
 <script src="{% static 'js/jquery-ui.js' %}"></script>
</body>
</html>
